   
    $text-one: #6B7280;
    $text-dark: #222;
    $text-main: #111;
    $hovered: #F3F4F6;
    $nav-main: #ffffffb7;
    $menu-bg: #27272A;
    $secondary-bg: #F1F5F9;
    $logo: #A21CAF;
    $logo-transparent: #3866ca83;

    $circle-red: #b15e66;
    $circle-blue: #8bbfc2;

    $menu-bg-transparent: #ffffff6c;


    $tag-yellow-bg: #FEF9C3;
    $tag-yellow-text: #8d5b47;
    $tag-yellow-bg-hovered: #6d400c;
    $tag-yellow-text-hovered: #fff;
    $tag-red-bg-hovered: #9D174D;
    $tag-red-bg: #FBE6F2;
    $tag-red-text: #9D174D;
    $tag-red-text-hovered: #F5E6EC;
    $tag-blue-bg: #C9CFE5;
    $tag-blue-text: #1E40AF;
    $tag-blue-bg-hovered: #1E40AF;
    $tag-blue-text-hovered: #EBEEF8;
    $tag-dark-red-bg-hovered: #991B1B;
    $tag-dark-red-bg: #E7CED0;
    $tag-dark-red-text: #991B1B;
    $tag-dark-red-text-hovered: #E1EAFF;

    $likes-bg-hovered:#FFF1F2;
    $likes-text-hovered: #EA607D;
    $comments-bg-hovered: #F0FDFA;
    $comments-text-hovered: #89CEC6;
    $bookmark-bg-hovered: #e9e9e9;
    $bookmark-bg: #d4d4d4;
    $bookmark-text: #C9CED0;

    $border-dark: #666;
    $border-light: #ccc;
    $border-lighter: #ddd;
    $border-light-transparent: #cccccc2a;

    $audio-card-text-main: #F4F4F4;
    $audio-card-text-secondary: #ACAFB4;

    $link-hovered: #833A88;

    $text-light: #888F9B;
    $text-bright: #F9FAFB;

    $icon-bg-transparent: #222a3a65;

    $blue-bg: #FFF7ED;
    $orange: #CA8A04;
    $black: #000;

    $prog-bar-bg: #D1D5DB;
    $prog-bar: #0D9488;

    $code-bg: #27272A;
    $code-text: #eaeaee;

